<h1 class="mb-5"><%= @group.name %><%= t 'diaries.index.new_diary_contribution' %></h1>

<%= render 'form' %>

<div class="text-right p-4">
  <%= link_to t('diaries.index.diary_index'), group_diaries_path(@group), class: 'bi bi-clipboard-data' %>
</div>
