<h1 class="mb-5"><%= t 'diaries.index.group_name_new_diary_contribution', group_name: @group.name %></h1>

<%= render 'form' %>

<div class="text-right p-4">
  <%= link_to t('diaries.index.diary_index'), group_diaries_path(@group), class: 'bi bi-clipboard-data' %>
</div>
