<h1 class="mb-5"><%= t 'groups.index.group_new_registration' %></h1>

<%= render 'form' %>

<div class="text-right mt-5 pt-5">
  <%= link_to t('groups.index.list_of_affiliated_groups'), groups_path, class: "bi bi-person-video2" %>
</div>